$clr-neutral-100: #fff;
$clr-neutral-150: #FAFCFF;
$clr-neutral-200: #F7F9FC;
$clr-neutral-500: #D7DBE2;
$clr-neutral-900: #2B2C2E;

$clr-primary-200: #5E93E6;
$clr-primary-400: #2C73E1;
$clr-primary-600: #2766C7;


.bg-primary {
    background-color: $clr-neutral-100;
}

.bg-secondary {
    background-color: $clr-neutral-200;
}

body {
    color: $clr-neutral-900;
}

.text-highlighted {
    color: $clr-primary-200;
}