.footer {
    display: grid;
    place-content: center;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    a {
        display: flex;
        gap: 8px;
        padding: 16px;
        text-decoration: none;
    }

    @media (min-width: 720px) {
        padding-top: 32px;
        padding-bottom: 32px;


        .icon {
            width: 32px;
            aspect-ratio: 1;
        }

        
    }
}
